* {
	border: 20px solid white;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #131e37;
}

img {
	display: block;
	/* border-radius: 15px; 50%*/
	width: 250px;
	height: auto;
	margin-bottom: 100px;
}

p {
	font-size: 24px;
	color: #FFF;
	max-width: 500px;
	line-height: 1.6;
	text-align: justify;
}
